<h1>Nuevo Pokemon</h1>
<form  (ngSubmit) ="guardar(newP)" #newP="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="numPoken">Nombre</label>
        <input type="number" class="form-control" id="numPoken" name="numPoken" #numPoken="ngModel"
               [(ngModel)]="_pokemon.idnumber" aria-describedby="emailHelp" placeholder="">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel"
               [(ngModel)]="_pokemon.name" aria-describedby="emailHelp" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <textarea class="form-control" id="descripcion" name="descripcion" #descripcion="ngModel"
              [(ngModel)]="_pokemon.descrip" rows="3"></textarea>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <select class="form-control" id="categoria" name="categoria" #categoria="ngModel"
                [(ngModel)]="_pokemon.categoria" >
          <option>Semilla</option>
          <option>Lagartilla</option>
          <option>Manifero</option>
          <option>Tortugita</option>
          <option>Llamas</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control" id="tipo" name="tipo" #tipo="ngModel"
                [(ngModel)]="_pokemon.tipo">
          <option>Fuego</option>
          <option>Planta</option>
          <option>Agua</option>

          <option>Tierra</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="debilidad">Debilidad</label>
    <select multiple class="form-control" id="debilidad" name="debilidad" #debilidad="ngModel"
            [(ngModel)]="_pokemon.debilidad">
      <option>Planta</option>
      <option>Electrico</option>
      <option>Tierra</option>
      <option>Roca</option>
      <option>Agua</option>
    </select>
  </div>

  <div class="form-group">
    <label for="imagen">URL-imagen</label>
    <input type="email" class="form-control" id="imagen" name="imagen" #imagen="ngModel"
           [(ngModel)]="_pokemon.img" aria-describedby="emailHelp" placeholder="">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
